/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    header a {
        color: var(--title-color-mobile);
    }

    .app-main-btn {
        background-color: var(--button-color-mobile);

    }

    .app-main h1 {
        color: var(--title-color-mobile);
    }

    .app-desktop {
        display: none;

    }
    .app-mobile{
        display: flex;
        width: 95%;
        height: 70%;
    }

    .app-table {
        display: none;
    }

    .app-sidebar {
        height: auto;
        width: 95%;
        margin-top: 10px;
        justify-content: center;
        color: var(--title-color-mobile);
    }

    footer h2 {
        color: var(--title-color-mobile);
    }
    .app-main-wrap{
        display: flex;
        flex-direction: column;
    }
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    header a {
        color: var(--title-color-table);
    }

    .app-main-btn {
        background-color: var(--button-color-table);

    }

    .app-main h1 {
        color: var(--title-color-table);
    }

    .app-desktop {
        display: none;

    }

    .app-table {
        display: flex;
        width: 95%;
        height: 70%;
    }

    .app-sidebar {
        color: var(--title-color-table);
    }

    footer h2 {
        color: var(--title-color-table);
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}