body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d2d2d2;
    color: #fff;
}

header h2 a {
    text-decoration: none;
    color: inherit;
}

.app-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.app-nav-list li {
    margin-right: 20px;
}

.app-main-wrap,
.app-main {
    flex-grow: 1;
    display: flex;
    padding: 20px;
}

.app-bg-cont {
    justify-content: space-between;
    margin-top: 20px;
}

.app-bg-cont img {
    max-width: 100%;
    height: auto;
}

.app-sidebar {
    margin: 10px;
    flex-basis: 25%;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #000;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    border: 1px solid black;
    color: #fff;
}