@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {
    .app-main-wrap .app-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 75%;
        margin-right: var(--gutter-width);
    }

    .app-main-wrap .app-sidebar {
        width: 25%;
        margin-left: var(--gutter-width);
    }
}

@media (max-width: 980px) {
    .app-mobile-btn {
        display: none;
    }
}

@media (min-width: 980px) and (max-width: 1280px) {
    .app-mobile-btn {
        display: inline-block;
    }
}

@media (min-width: 1281px) {
    .app-mobile-btn {
        display: none;
    }
}


@media (min-width: 1200px) {}