/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .app-main-wrap .app-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    margin-right: var(--gutter-width);
  }

  .app-main-wrap .app-sidebar {
    width: 25%;
    margin-left: var(--gutter-width);
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
