
@media (max-width: 480px) {
    /* Зміни стиль кнопки і кольору тексту */
    .button {
        background-color: blue;
        color: white;
    }

    /* Зміна кольору тексту на всій сторінці */
    body {
        color: red;
    }

    /* Позиціонуємо slidebar під картинкою */
    .main {
        grid-template-columns: 1fr;
    }

    .app-mobile{
        display: block;
    }
    .app-table, .app-desktop{
        display: none;
    }
    
}
/* Стилі для планшетів */
@media (min-width: 481px) and (max-width: 768px) {
    /* Зміни кольору тексту */
    body {
        color: green;
    }

    /* Зміни стиль кнопки */
    .button {
        background-color: red;
        color: white;
    }


    /* Зміна картинки для планшету */
    .app-table{
        display: block;
    }
    .app-mobile, .app-desktop{
        display: none;
    }
}

/* Стилі для моніторів */
@media (min-width: 769px) {
    /* Зміни кольору тексту */
    body {
        color: blue;
    }

    /* Зміни стиль кнопки */
    .button {
        background-color: red;
        color: white;
    }

    /* Змінюємо стилі slidebar для моніторів */
    

    /* Зміна картинки для монітора */
    .app-desktop{
        display: block;
    }
    .app-table, .app-mobile{
        display: none;
    }
}