html {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 77.5px 230px auto;
    grid-template-rows: 100px;
    height: 100px;
    gap: 4px;
    padding: var(--gutter-width) calc(var(--gutter-width) * 2);
    height: var(--header-height);
    box-sizing: border-box;
    margin: 0;
    padding: 15px 0px 0px 40px ;
}
header > h2 {
    display: grid;
    width: 100px;
}
header > h2 > a{
    color: var(--title-color-mobile);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-top: -5px;
}
header .app-nav-list {
    display: flex;
    margin-left: var(--gutter-width);
    width: 238px;
}
header > nav > ul{
    display: grid;
    width: 230px;
    margin: 7px 0px 0px 0px;
}
li{
    margin-left: var(--gutter-width);
    font-weight: 400;
    font-size: 14px;
    height: 20px;
    margin-top: 5px;
    margin-left: 0px;
    width: 100%;
}

header .app-nav-list > li a {
    text-decoration: none;
    color: var(--title-color-mobile);
}
header .app-main-btn {
    border: none;
    padding: calc(var(--gutter-width) / 2) var(--gutter-width);
    background: var(--button-color-mobile);
    color: white;
    text-transform: uppercase;
}
header > .app-main-btn {
    justify-self: end;
    align-items: center;
}
.spacer{
    flex-grow: 1;
}
header > .app-main-btn{
    margin: 5px 50px;
    width: 95px;
    height: 36px;
}





.app-main-wrap {
    flex-grow: 1; /* Расширить содержимое, чтобы занять доступное место */
    margin: 0 calc(var(--gutter-width) * 2);
    padding: 20px;
    height: calc(100% - var(--header-height) - var(--footer-height));
    box-sizing: border-box;
}
.app-main-wrap .app-main{
    text-align: center;
    width: 100%;
}
.app-main-wrap .app-sidebar{
    border: 1px solid #000;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    padding: var(--gutter-width);
    margin-top: var(--gutter-width);
}
.app-main-wrap .desc {
    margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
}
.app-main-wrap .app-bg-cont img{
    width: 100%;
}
footer {
    margin: 0 calc(var(--gutter-width) * 2);
    height: var(--footer-height);
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}