html {
    margin: 0;
    font-size: 14px;
    font-family: Arial;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: var(--gutter-width) calc(var(--gutter-width) * 2);
    height: var(--header-height);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header h2 {
    float: left;
    vertical-align: middle;
    margin: 0;
}

header h2 a {
    color: var(--title-color-mobile);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

header nav {
    float: left;
    margin-top: 7px;
}

.app-nav-list li {
    float: left;
    margin-left: var(--gutter-width);
}

.app-nav-list li a {
    text-decoration: none;
    color: var(--title-color-mobile);
}

.app-main-btn {
    border: none;
    padding: calc(var(--gutter-width) / 2) var(--gutter-width);
    background: var(--button-color-mobile);
    color: white;
    text-transform: uppercase;
    float: right;
}

.app-main-wrap {
    margin: 0 calc(var(--gutter-width) * 2);
    height: calc(100% - var(--header-height) - var(--footer-height));
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 20px;
}

.app-main {
    text-align: center;
    width: 100%;
}

.app-sidebar {
    border: 1px solid #000;
    width: 100%;
    box-sizing: border-box;
    padding: var(--gutter-width);
    margin-top: var(--gutter-width);
}

.app-main .desc {
    margin: calc(var(--gutter-width) / 2) 0 var(--gutter-width);
}

.app-bg-cont img {
    width: 70%;
    max-width: 100%;
}

footer {
    margin: 0 calc(var(--gutter-width) * 2);
    height: var(--footer-height);
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}

.app-main-btn{
    margin-left: 65%;
}