:root {
  --title-color-mobile: red;
  --title-color-table: green;
  --title-color-desktop: blue;

  --button-color-mobile: yellow;
  --button-color-table: rgb(8, 69, 8);
  --button-color-desktop: orange;

  --gutter-width: 20px;
  --header-height: 100px;
  --footer-height: 100px;
}